div.footer {
  position: relative;
  margin-top: 10rem;
  background: #81BD00;
  padding: 4rem 0;
  text-align: center;

  &:before {
    content: '';
    width: 4rem;
    height: 4.5rem;
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../../common/images/footer.png') no-repeat;
    background-size: cover;
  }

  p {
    color: #fff;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 1rem;

    li {
      margin-right: 2rem;
      a {
        color: #fff;
      }
    }
  }

}