html {
  /*  font-size: 12px;
  @media all and (min-width: 1200px){
    font-size: 20px;
  }*/
}
html {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1600));
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}

p, a, span {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

div.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #81BD00;
}

h1, h2, h3 {
  text-transform: uppercase;
  opacity: 1;
}

h2 {
  color: #808080;
  letter-spacing: 3.2px;
  font: normal normal normal 2rem/2.625rem Open Sans;
  margin-bottom: 1.75rem;
}

h3 {
  font: normal normal normal 1.25rem/1.5rem Open Sans;
  letter-spacing: 3.2px;
  color: #404040;
  margin-bottom: 0.5rem;
}

div.editor {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
div.editor p {
  text-align: center;
  font: normal normal 300 1rem/1.66rem Open Sans;
  letter-spacing: 0px;
  opacity: 1;
  padding-bottom: 3rem;
}

button, .btn {
  background: transparent;
  border: solid 1px #81bd00;
  padding: 9px 4px 6px 13px;
  text-transform: uppercase;
  color: #81bd00;
  font-size: 1.2rem;
  line-height: 1.2;
}

div.menu {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
  /*  &.sticky{
      position: sticky;
      top:0;
      left:0;
      background: #fff;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
      z-index: 102;
      padding: 10px;
    }*/
}
div.menu ul {
  width: 95%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
div.menu ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
}
div.menu ul li.item {
  display: none;
}

div.mobile-menu {
  display: flex;
  position: absolute;
  top: 0;
  left: -150%;
  right: 0;
  bottom: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease;
}
div.mobile-menu.show-menu {
  display: flex;
  left: 0;
  opacity: 1;
  z-index: 101;
  background: #fff;
  transition: all 1s ease;
}
div.mobile-menu a.close {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}
div.mobile-menu ul {
  list-style: none;
}
div.mobile-menu ul li {
  padding: 1rem;
}
div.mobile-menu ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
}

@media all and (min-width: 768px) {
  div.menu ul li.item {
    display: block;
  }
}
div.header {
  padding-top: 0.8rem;
}
div.header div.swiper-container {
  padding-bottom: 10px;
}
div.header div.swiper-slide {
  position: relative;
}
div.header div.swiper-slide img {
  width: 100%;
}
div.header div.swiper-slide:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent linear-gradient(90deg, #FFFFFF80 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
div.header div.swiper-slide div.slider-text {
  position: absolute;
  width: 50%;
  max-width: 674px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  padding: 2.5rem 3rem;
  z-index: 1;
  display: none;
}
@media all and (min-width: 768px) {
  div.header div.swiper-slide div.slider-text {
    display: block;
  }
}
div.header div.swiper-slide div.slider-text h2 {
  position: absolute;
  top: -35px;
  left: 0;
  text-align: left;
  font: normal normal normal 2.4rem/2.9rem Open Sans;
  letter-spacing: 7.68px;
  color: #404040;
  text-transform: uppercase;
  opacity: 1;
}
div.header div.swiper-slide div.slider-text p {
  text-align: left;
  font: 0.9rem/1.5rem Open Sans;
  letter-spacing: 0px;
  color: #404040;
  text-transform: uppercase;
  opacity: 1;
}
div.header .swiper-scrollbar-drag {
  background: #81BD00;
}
div.header .swiper-container-horizontal > .swiper-scrollbar {
  left: 0;
  bottom: 10px;
  width: 100%;
  background: #c4c4c4;
}
div.header .swiper-button-prev, div.header .swiper-button-next {
  width: 3.5rem;
  height: 3.5rem;
  color: transparent;
}
div.header .swiper-button-prev:after, div.header .swiper-button-next:after {
  content: "";
}
div.header .swiper-button-prev {
  left: -22px;
  background: url("../../common/images/left-arrow.svg") no-repeat;
  background-size: cover;
  /*@media all and (min-width: 768px){
    left: 7%;
  }*/
}
div.header .swiper-button-next {
  right: -13px;
  background: url("../../common/images/right-arrow.svg") no-repeat;
  background-size: cover;
  /* @media all and (min-width: 768px){
     right: auto;
     left: 60%;
   }
  @media all and (min-width: 1450px){
    left: 54%;
  }
  @media all and (min-width: 1650px){
    left: 50%;
  }*/
}
div.header .swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
  background: #fff;
  border: solid 3px #c4c4c4;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
div.header .swiper-container-horizontal > .swiper-pagination-bullets, div.header .swiper-pagination-custom, div.header .swiper-pagination-fraction {
  bottom: 5px;
  z-index: 100;
  display: flex;
  justify-content: space-around;
}
div.header .swiper-pagination-bullet {
  opacity: 1;
}
div.header span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: rotate(45deg);
  border: solid 3px #81BD00;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.content {
  margin-top: 4.375rem;
}
div.content p {
  max-width: 80%;
  margin: 0 auto;
}

div.boxes {
  margin-top: 6rem;
}
div.boxes div.introduction p {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 3rem;
}
div.boxes div.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.boxes div.box {
  max-width: 300px;
  /*width: calc(33.33% - 1.875rem);*/
  width: calc(100% - 1.875rem);
  background: #F8F8F8;
  margin: 0.93rem;
}
div.boxes div.box img {
  display: block;
  margin: 0 auto;
  padding: 1.5rem 0;
}
div.boxes div.box div.box-text {
  padding: 1rem;
  background: #F0F0F0;
}
div.boxes div.box div.box-text p {
  text-align: left;
  font: normal normal 300 0.875rem/1.0625rem Open Sans;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;
}
@media all and (min-width: 768px) {
  div.boxes div.box {
    width: calc(33.33% - 1.875rem);
  }
}

div.footer {
  position: relative;
  margin-top: 10rem;
  background: #81BD00;
  padding: 4rem 0;
  text-align: center;
}
div.footer:before {
  content: "";
  width: 4rem;
  height: 4.5rem;
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../../common/images/footer.png") no-repeat;
  background-size: cover;
}
div.footer p {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
div.footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 1rem;
}
div.footer ul li {
  margin-right: 2rem;
}
div.footer ul li a {
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
