div.menu {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1364px;
  margin: 0 auto;

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    li {
      a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    li.item {
      display: none;
    }

  }
}

div.mobile-menu {
  display: flex;
  position: absolute;
  top: 0;
  left: -150%;
  right: 0;
  bottom: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease;


  &.show-menu {
    display: flex;
    left: 0;
    opacity: 1;
    z-index: 101;
    background: #fff;
    transition: all 1s ease;

  }

  a.close {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
  }

  ul {
    list-style: none;

    li {
      padding: 1rem;
    }
  }
}

@media all and (min-width: 768px) {
  div.menu {
    ul li.item {
      display: block;
    }
  }
}

